<!--#begin bm_mod -->
<script type="text/javascript">
<!--
function submitCtr()
	{
	var f = document.forms.bmcreate;
	if (f.action.value == 'delete')
		return true;
	if (f.url.value  == '')
		{
		//{}
		alert('{ js_alert2 }');
		f.url.focus();
		f.url.style.background = 'red';
		return false;
		}
	if (f.shortdesc.value  == '')
		{
		//{}
		alert('{ js_alert1 }');
		f.shortdesc.focus();
		f.shortdesc.style.background = 'red';
		return false;
		}
	return true;
	}

function bm_delete()
	{
	//{}
	if (confirm('{ js_alert3 }'))
		{
		var f = document.forms.bmcreate;
		f.action.value = 'delete';
		f.submit();
		}
	}

function position()
	{
	var f = document.forms.bmcreate;
	if (f.place.value == 'N' && f.display_mode.value != 'iframe')
		{
		f.longdesc.disabled = true;
		}
	else
		{
		f.longdesc.disabled = false;
		}
	}
//-->
</script>

<form name="bmcreate" method="post" action="{ babPhpSelf }" onSubmit="return(submitCtr())">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
	<input type="hidden" name="tg" value="{ babAddonTarget }/main">
	<input type="hidden" name="idx" value="list">
	<input type="hidden" name="id_app" value="{ id }">
	<input type="hidden" name="action" value="modify">
	<table class="BabLoginCadreBackground" width="80%" border="0" cellspacing="0" cellpadding="2" align="center">
	<tr> 
	<td> 
	<table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
	
	<tr align="center" valign="middle"> 
		<td align="right" valign="middle" nowrap>{ t_url }&nbsp;:</td>
		<td align="left" valign="middle">
		<input type="text" name="url" size="40" value="{ url }">
		</td>
	</tr>
	<tr align="center" valign="middle"> 
		<td align="right" valign="middle" nowrap>{ t_shortdesc }&nbsp;:</td>
		<td align="left" valign="middle">
		<input type="text" name="shortdesc" size="40" value="{ shortdesc }">
		</td>
	</tr>
	<tr align="center" valign="middle"> 
		<td align="right" valign="middle" nowrap>{ t_longdesc }&nbsp;:</td>
		<td align="left" valign="middle">
		<input type="text" name="longdesc" size="40" value="{ longdesc }">
		</td>
	</tr>
	<tr> 
		<td align="right" valign="middle">{ t_description }&nbsp;:</td>
		<td width="70%" align="left" valign="middle">
		<textarea name="description" cols="40" rows="4">{ description }</textarea>
		</td>
	</tr>
	<tr> 
		<td align="right" valign="middle" nowrap>{ t_position }&nbsp;:</td>
		<td width="70%" align="left" valign="middle"> 
		<select name="place" onchange="position()">
		<!--#if place "== 1" -->
			<option value="1" selected>{ t_in_section }</option>
			<option value="2">{ t_in_user }</option>
			<option value="3">{ t_in_nothing }</option>
			<option value="4">{ t_in_sitemap }</option>
		<!--#endif place -->
		<!--#if place "== 2" -->
			<option value="1">{ t_in_section }</option>
			<option value="2" selected>{ t_in_user }</option>
			<option value="3">{ t_in_nothing }</option>
			<option value="4">{ t_in_sitemap }</option>
		<!--#endif place -->
		<!--#if place "== 3" -->
			<option value="1">{ t_in_section }</option>
			<option value="2">{ t_in_user }</option>
			<option value="3" selected>{ t_in_nothing }</option>
			<option value="4">{ t_in_sitemap }</option>
		<!--#endif place -->
		<!--#if place "== 4" -->
			<option value="1">{ t_in_section }</option>
			<option value="2">{ t_in_user }</option>
			<option value="3">{ t_in_nothing }</option>
			<option value="4" selected="selected">{ t_in_sitemap }</option>
		<!--#endif place -->
		</select>
		</td>
	</tr>
	<tr> 
		<td align="right" valign="middle" nowrap>{ t_display_mode }&nbsp;:</td>
		<td width="70%" align="left" valign="middle"> 
		<select name="display_mode">
		<!--#if display_mode "== new_window" -->
			<option value="new_window" selected>{ t_new_window }</option>
			<option value="body">{ t_body }</option>
			<option value="iframe">{ t_iframe }</option>
		<!--#endif display_mode -->
		<!--#if display_mode "== body" -->
			<option value="new_window">{ t_new_window }</option>
			<option value="body" selected>{ t_body }</option>
			<option value="iframe">{ t_iframe }</option>
		<!--#endif display_mode -->
		<!--#if display_mode "== iframe" -->
			<option value="new_window">{ t_new_window }</option>
			<option value="body">{ t_body }</option>
			<option value="iframe" selected>{ t_iframe }</option>
		<!--#endif display_mode -->
		</select>
		</td>
	</tr>
	<tr> 
		<td align="right" valign="middle">{ t_portlet }&nbsp;:</td>
		<td width="70%" align="left" valign="middle">
		<select name="portlet">
			<option value="0" <!--#if portlet "== 0" -->selected="selected"<!--#endif display_mode -->>{ t_no }</option>
			<option value="1" <!--#if portlet "== 1" -->selected="selected"<!--#endif display_mode -->>{ t_yes }</option>
		</select>
		</td>
	</tr>
	<tr> 
		<td align="center" valign="middle" colspan="2"><br>
		<input type="submit" value="{ t_add }">
		<!--#if id "> 0" -->
	        <input type="button" name="delete" onclick="bm_delete();" value="{ t_del }">
			<!--#endif id -->
		<br>
		</td>
	</tr>
	</table>
	</td>
	</tr>
	</table>
</form>
<script type="text/javascript">
<!--
position();
//-->
</script>
<!--#end bm_mod -->


<!--#begin bmlist -->
<table border="0" width="75%" cellpadding="2" cellspacing="0" align="center">
	<tr> 
		<td class="BabLoginCadreBackground">
			<table border="0" width="100%" cellpadding="4" cellspacing="0">
				<tr class="BabSiteAdminTitleFontBackground">
					<!--#if admin -->
					<td colspan="6">{ t_applications }</td>
					<!--#else admin -->
					<td colspan="4">{ t_applications }</td>
					<!--#endif admin -->
					</tr>
					<!--#in getnext -->
					<!--#if alternate -->
					<tr class="BabForumBackground1">
					<!--#else alternate -->
					<tr class="BabSiteAdminFontBackground">
					<!--#endif alternate -->
						<td width="2">
						<img alt="{ t_displaymode }" src="{ babSkinPath }images/addons/{ babAddonFolder }/{ imgname }" title="{ t_newwindow }" />
						</td>
						<td>
						<!--#if display_mode "== iframe" -->
						<a href="{ url_iframe }" title="{ description }">
						<!--#else display_mode -->
						<a href="{ url }" title="{ description }" <!--#if display_mode "== new_window" -->onclick="bab_popup(this.href,10,1); return false"<!--#endif display_mode -->>
						<!--#endif display_mode -->
						{ shortdesc }</a></td>
						<td align="left">{ longdesc }</td>
						<td align="left">{ url }</td>
						
						<!--#if admin -->
						<td align="right"><a href="{ grpurl }">{ t_grp }</a></td>
						<td align="right"><a href="{ modurl }">{ t_mod }</a></td>
						<!--#endif admin -->
					</tr>
				<!--#endin getnext -->
			</table>
		</td>
	</tr>
</table>
<!--#end bmlist -->


<!--#begin iframe -->
<iframe id="applications_iframe" name="applications_iframe" border="0" frameborder="0" src="{ url }" style="width:100%;height:600px;border:0;"></iframe>
<script type="text/javascript">
<!--
function applications_iframe_redim()
	{
	var frame_id_name = 'applications_iframe';
	try {
		if (typeof document.frames != 'undefined' && document.frames[frame_id_name].document.body.scrollHeight) {
			document.frames[frame_id_name].frameElement.style.height = document.frames[frame_id_name].document.body.scrollHeight+15+'px';
		  } 
		else if (document.getElementById(frame_id_name).contentDocument.height){
			document.getElementById(frame_id_name).style.height = document.getElementById(frame_id_name).contentDocument.height+15+'px';
		  }
		}
	catch(e)
		{
		//window.status = e;
		}
	setTimeout('applications_iframe_redim()',200);
	}
	
applications_iframe_redim();
//-->
</script>

<!--#end iframe -->
